body {
    font-size: 0;
}

p {
  font-size: 20px;
  text-align: center;
}

#choice {
  width: 600px;
  margin: 10px auto;
}

#toggle {
  margin-left: 270px;
}

#calculator {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: rgb(175, 171, 171);
    width: 500px;
    height: 800px;
    border: solid black 2px;
    border-radius: 25px;
}

#solar {
    margin: 30px auto 0px;
    background-color: rgb(82, 0, 0);
    width: 200px;
    height: 50px;
}

#output {
    background-color: rgb(216, 212, 212);
    margin: auto;
    color: black;
    width: 400px;
    height: 60px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Press Start 2P', cursive;
}

.row {
    height: 120px;
    display: flex;
    align-items: center;
}

button {
    font-size: 40px;
    font-weight: bold;
    width: 15%;
    height: 60%;
    margin: 3% 5%;
    border: none;
    outline: none;
    padding: none;
    border-radius: 10px;
}

.number {
    background-color:rgb(74, 65, 122);
    color: white;
}

#zero {
    width: 15%;
}

#plus-old {
  height: 192px;
  margin-top: 130px;
}

#plus-ios {
  display: none;
}

.operation {
    background-color: rgb(148, 71, 71);
    color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }